body {
  margin: 0;
  background-color: #364156;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #011638;
}

ul.topnav li {
  float: right;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}



/* Grafico e processos */

.grafico-inteiro{
  height: 79vh;
  width: 77vw;
  margin-left: 10vw;
  border: 0.1px solid;
  border-color: black;
  background-color: white;
}

#myChart{
  height: 80%;
  color: white; 
}

.listaAluno{
  overflow: auto; 
  flex-direction: column;
  position: absolute;
  display: flex;
  max-height: 40%;
  margin-top: 1vw;
  margin-left: 3vh;
  margin-right: -3px;
}


.labelAluno1{
  background-color: #011638;
  margin: 4px 0;
  color: white;
  width: 998px;
  top: 34px;
  background: #35383D;
  padding: 10px;
  margin-left: -20px;
}

.labelDireita {

  float: right;
  margin-right: 150px;

}



.containerListaAluno {

  background-color: rgba(255, 255, 255, 0.18);
  display: flex;
  max-height: 30%;
  height: 44vh;
  width: 77vw;
  margin-left: 135px;
  margin-top: 2vw;
  margin-bottom: 5vw;

}



/* Fim gráfico */