.divContainerFooter:after,
.divContainerFooter:before{
    content: "";
    display: table;
    clear: both
}
.center {
    text-align: center!important
}
.divQuadro {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33333%;
}
.alinhamentoLeft{
    text-align: left;
}
.alinhamentoRight{
    text-align: right;
}
@media (max-width:937px) {
    .divQuadro {
        margin: 16px 0 16px 0;
        padding: 8px 0 8px 0;
        width: 100%
    }
    .alinhamentoLeft{
        text-align: center;
    }
    .alinhamentoRight{
        text-align: center;
    }
    .divQuadroLogo{
        padding: 32px 0 32px 0 !important;
    }
}
