.modal {
  display: none;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.4); 
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #ffffff;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  border-radius: 2vh;
}

.modalContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: purple;
  margin: 3% auto 0 auto;
  border-radius: 10px;
}

.modalInput{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-right: 40px solid #0585EA;
  border-radius: 10px;
}
.modalInput label{
  font-weight: bolder;
}
.divImg{
  color: #0585EA;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.divImg img{
  height: 50px;
}
.divInput{
  color: #0585EA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
.divInput input{
  color: black;
  background-color: #d9d9d9;
  width: 90%;
  padding: 8px 16px 8px 8px;
  margin: 8px;
}
.divInput::placeholder{
  font-weight: bolder;
}
.divCheckbox{
  color: #0585EA;
  width: 80%;
  display: flex;
  text-align: left;
  padding: 16px 0 0 0;
}
.divCheckbox input{
  margin-top: 2px;
  margin-right: 16px;
}
.divButton{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.divButton button{
  padding: 8px 0 8px 0;
  margin: 16px auto 16px auto;
  width: 100%;
  background-color: #0585EA;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  border-bottom: 1px solid #011638;
}
.divButton button:hover{
  background-color: #62bbff; 
  border: 1px solid #c4c4c4;
  border-radius: 0;
}
.divButton span{
  color: #0585EA;
  font-weight: bold;
  cursor: pointer;
}
.divButton span:hover{
  text-decoration: underline;
} 

.modalCadastro{
  background-color: #ffffff;
  transition: 0.5s;
  width: 30%;
  min-width: 500px;
}
.modalLogin{
  color: white;
  background-color: #ffffff;
  transition: 0.5s;
  width: 10%;
  min-width: 500px;
}
.modalSenha{
  color: white;
  background-color: #ffffff;
  transition: 0.5s;
  width: 10%;
  min-width: 500px;
}

.close {
  color: #0585EA;
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0.8)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0.8)} 
  to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .btnCancel {
     width: 100%;
  }
}

@media screen and (max-width: 800px){
  .modalContainer{
    margin: auto auto auto auto;
  }
  .modalSenha{
    width:100%;
    min-width: auto;
  }
  .modalLogin{
    width:100%;
    min-width: auto;
  }
  .modalCadastro{
    width:100%;
    min-width: auto;
  }
}
.PALETA_DE_CORES{
  color: #011638 ;
  color: #0585EA ;
  color: #0666b4 ;
  color: #4c638a ;
  color: #d0d4e0 ;
}