
/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    NAVBAR FIXA 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

.divNavBarContainer{
    background-color: #011638;
    color: white;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 5px 0.5px white;
}
.divNavBarContainer ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
    font-weight: bolder;
}
.divNavBarContainer li{
    /* background-color: red; */
    box-sizing: border-box;
    width: 192px;
    text-align: center;
    margin: 0;
    padding: 27px 0px 27px 0px;
    cursor: pointer;
    font-size: 25px;
}
.divNavBarContainer li:first-child{
    margin-right: 3vw;
}
.divNavBarContainer li:hover{
    background-color: #d0d4e0;
    color: #011638;
    transition: 0.5s;
}
.divNavBarContainer .liLogoBar{
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    padding-top: 8px;
    margin: 0;
    width: 100px;
}
.divNavBarContainer .liLogoBar:hover{
    background-color: #011638;
}
.divNavBarContainer img{
    height: 69px;
    padding: 0;
    margin:0;
}
.divNavContainer2{
    background-color: white;
    font-size: 125%;
    height: 0;
    z-index: 9999;
}

.divDropdownBar{
    display: none;
    background-color: #d0d4e0;
    float: right; 
    margin: 0;
    padding: 0;
    margin-right: 3vw;
}
.divDropdownBar ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: right;
    flex-direction: column;
    font-size: 75%;
    font-weight: normal;
}
.divDropdownBar li{
    color: #011638;
    font-weight: bolder;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 2vh 2vw 2vh 2vw;
    cursor: pointer;
    border-bottom: 1px solid #011638;
}
.divDropdownBar li:first-child{
    border-top: 1px solid #011638;
}
.divDropdownBar li:hover{
    background-color: #0585EA;
    color: white;
    transition: 0.5s;
}
