*{
    padding: 0;
    scroll-behavior: smooth !important;
    margin: 0;
    font-family: "Lato", sans-serif;
}
html{
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body{
    background-color: #abb7cf;
}
.divHeader{
    display: flex;
    flex-direction: row;
    background-color: #011638;
    width: 100%;
}
.divLogo{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.divLogo img{
    margin: 5vh 2vw 5vh 4vw;
}
.divConteudo{
    color: white;
    width: 60%;
    display: flex;
    flex-direction: column;
}
.divNavTopo{
    display: flex;
}
.divNavTopo ul{ 
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
    font-weight: bolder;
}
.divNavTopo li{
    box-sizing: border-box;
    width: 200px;
    text-align: center;
    margin: 0;
    padding: 27px 0px 27px 0px;
    cursor: pointer;
    font-size: 25px;
}
.divNavTopo li:first-child{
    margin-right: 3vw;
}
.divNavTopo li:hover{
    background-color: #ffffff;
    color: #011638;
    transition: 0.5s;
}
.divNavContainer{
    font-size: 25px;
    height: 10vh;
    z-index: 9999;
}
.divDropdown{
    display: none;
    background-color: #ffffff;
    float: right; 
    margin: 0;
    padding: 0;
    margin-right: 3vw;
}
.divDropdown ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: right;
    flex-direction: column;
    font-weight: normal;
}
.divDropdown li{
    color: #011638;
    font-weight: bolder;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 2vh 2vw 2vh 2vw;
    cursor: pointer;
    border-bottom: 1px solid #011638;
}
.divDropdown li:first-child{
    border-top: 1px solid #011638;
}
.divDropdown li:hover{
    background-color: #0585EA;
    color: white;
    transition: 0.5s;
}
/*                                           DIVACESSO (BOTÃO ACESSAR E LINK CADASTRAR)                                  */
.divAcesso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divAcesso span{
    font-size: 75%;
}
.divAcesso button{
    color: white;
    padding: 5vh 5vw 5vh 5vw;
    background-color: #0585EA; 
    border: 1px solid white;
    font-weight: bolder;
    font-size: 100%;
    min-width: 161px;
    border-radius: 10vh;
    outline: none;
    cursor: pointer;
}
.blueHover:hover{
    background-color: #62bbff; 
    border: 1px solid #c4c4c4;
}
.divAcesso .cadastrar{
    color: white;
    padding: 0;
    background-color: inherit; 
    border: none;
    outline: none;
    cursor: pointer;
    border-bottom: 1px solid #011638;
    margin-bottom: 40px;
}
.divAcesso .cadastrar:hover{
    border-color: white;
    border-radius: 0;
}
/*                                                 CORPO DO SITE (CONTAINER)                                        */
.btnTopo{
    padding: 0 12px;
    margin: 0;
    background-color: black;
    border-radius: 100vh;
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 3vh;
    left: 2vw;
    font-size: 200%;
    outline: none;
    z-index: 9999;
}
.btnTopo:hover{
    color: #403d34;
    background-color: #ffc700;
    transition: 0.7s;
}
.divImagemRede{
    padding: 0;
    margin: 0;
    background-color: #011638;
    width: 100%;
}
.divImagemRede img{
    padding: 0;
    margin: 0;
    width: 100%;
}
.divContainer{
    display: flex;
    flex-direction: column;
    background-color: #4c638a;
    width: 100%;
    height: 100%;
}
.divSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;

}
.reverse{
    flex-direction: row-reverse;
}
.divImagem{
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.divImagem img{
    padding: 32px;
    height: 100%;
    width: 50%;
}
.divTexto{
    background-color: #ffffff;
    text-align: center;
    font-size: 150%;
    width: 50%;
    height: 100%;
}
.divTexto h3{
    padding: 64px 0 0 0;
    font-size: 200%;
}
.divTexto p{
    padding: 32px 64px 64px 64px;
}
.divProduto{
    width: 100%;
    height: 100%;
}
.divSectionEquipe{
    height: auto;
}
.divEquipe{
    background-color: #0585EA;
    text-align: center;
    font-size: 250%;
    width: 100%;
    height: auto;
    min-height: 100%;
}
.divEquipe h3{
    padding: 64px 0 0 0;
}
.divFotinhos{
    padding: 64px;
}
.divFotinhos img{
    padding: 2vh 1.5vw 2vh 1.5vw;
    height: 140px;
}

.divMapa{
    background-color: #FFF;
    width: 100%;
    height: 100%;
}
.divSectionContato{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    min-height: 20vh;
}
.divContato{
    background-color: #abb7cf;
    text-align: center;
    font-size: 250%;
    width: 100%;
    height: 100%;
}
/*                                                 MEDIA E ANIMAÇÕES                                            */
@media screen and (max-width: 1122px){
    .divHeader{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .divLogo{
        width: 50%;
        min-width: 20px;
    }
    .divLogo img{
        margin: 10vh 0 -2vh 0;        
        width: 100%;
    }
    .divConteudo{
        width:100%;
    }
    .divNavTopo{
        display: none;
    }
    .divNavTopo ul{
        justify-content: center;
    }
    .divNavTopo li:first-child{
        margin-right: 0;
    }
    .divDropdown{
        margin-right: 0;
    }
}
@media screen and (max-width: 835px){
    .divNavBarContainer li:first-child{
        margin-right: 0 !important;
    }
    .divDropdownBar{
        margin-right: 0;
    }
    .divImagemRede img{
        width: 100%;
        height: 100%;
    }
    .divSection{
        flex-direction: column;
        height: auto;
    }
    .divImagem{
        height: 100%;
        width: 100%;
    }
    .divImagem img{
        width: 15%;
    }
    .divTexto{
        width: 100%;
    }
    .heightAuto{
        height: 100%;
    }
    .divMapa{
        height: 60vh;
    }
}

.girarElemento{
    animation: girar infinite linear 2s
}
@keyframes girar{
    0%{
        transform:rotate(0deg)
    }
    25%{
        transform:rotate(15deg)
    }
    50%{
        transform:rotate(0deg)
    }
    75%{
        transform:rotate(-15deg);
    }
    100%{
        transform:rotate(0deg)
    }
}

.aparecer{
    animation: aparecer 0.5s
}
@keyframes aparecer{
    0%{
        opacity:0
    }
    100%{
        opacity:1
    }
}
