.divHeader{
    display: flex;
    flex-direction: row;
    background-color: #011638;
    width: 100%;
}

.divLogo{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.divLogo img{
    margin: 5vh 2vw 5vh 4vw;
}

.divConteudo{
    color: white;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.divNavTopo{
    display: flex;
}

.divNavTopo ul{ 
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
    font-weight: bolder;
}

.divNavTopo li{
    box-sizing: border-box;
    width: 200px;
    text-align: center;
    margin: 0;
    padding: 27px 0px 27px 0px;
    cursor: pointer;
    font-size: 25px;
}
.divNavTopo li:first-child{
    margin-right: 3vw;
}

.divNavTopo li:hover{
    background-color: #d0d4e0;
    color: #011638;
    transition: 0.5s;
}

.divNavContainer{
    font-size: 25px;
    height: 10vh;
    z-index: 9999;
}

.divDropdown{
    display: none;
    background-color: #d0d4e0;
    float: right; 
    margin: 0;
    padding: 0;
    margin-right: 3vw;
}
.divDropdown ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: right;
    flex-direction: column;
    font-weight: normal;
}
.divDropdown li{
    color: #011638;
    font-weight: bolder;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 2vh 2vw 2vh 2vw;
    cursor: pointer;
    border-bottom: 1px solid #011638;
}
.divDropdown li:first-child{
    border-top: 1px solid #011638;
}
.divDropdown li:hover{
    background-color: #0585EA;
    color: white;
    transition: 0.5s;
}

/* 
                                            DIVACESSO (BOTÃO ACESSAR E LINK CADASTRAR)
*/

.divAcesso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divAcesso span{
    font-size: 75%;
}
.divAcesso button{
    color: white;
    padding: 5vh 5vw 5vh 5vw;
    background-color: #0585EA; 
    border: 1px solid white;
    font-weight: bolder;
    font-size: 100%;
    min-width: 161px;
    border-radius: 10vh;
    outline: none;
    cursor: pointer;
}
.blueHover:hover{
    background-color: #62bbff; 
    border: 1px solid #c4c4c4;
}
.divAcesso .cadastrar{
    color: white;
    padding: 0;
    background-color: inherit; 
    border: none;
    outline: none;
    cursor: pointer;
    border-bottom: 1px solid #011638;
    margin-bottom: 40px;
}
.divAcesso .cadastrar:hover{
    border-color: white;
    border-radius: 0;
}
