#menuzin{
    display: none;
}

label[for='menuzin']{
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: none;
    height: 40px;
    padding: 20px;
    padding-bottom: 30px;
    background-color: #ffc700;
    color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid black;
    box-shadow: 0px 1px 3px 0px #ffc700; 

}

label[for='menuzin']:hover{
    background-color: black;
    color: #ffc700;
    transition: 0.7s;
}
/****************************** NAVBAR VERTICAL ******************************/
.divNavV{
    /* display: none; */
    position: fixed;
    top: 50px;
    left: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: auto; 
    width: 100%;
    display: none;
}

.navVertical{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
    border: 1px solid black;
    list-style-type: none;
}

.navVertical li{
    text-align: center;
    border-bottom: 1px solid black;
}

.navVertical li:last-child{
    border-bottom: none;
}

.navVertical li a{
    box-sizing: border-box;
    display: block;
    padding: 2vh;
    text-decoration: none;
    background-color: #ffc700;
}

.navVertical li a:hover{
    color: #ffc700;
    background-color:#403d34;
    transition: 0.7s;
}

.liAcesso{
    visibility: hidden;
    display: none;
}

.liDropdownV:hover .liAcesso{
    display: block !important;
    visibility: visible;
    animation: fadeIn 0.4s;
    -webkit-animation: fadeIn 0.4s;
}

.btnNavV{
	background-color:#ffc700; /* setando o background do a */
	color: black; /* cor da fonte dos elementos em geral */
	font-weight: bold;
    width: 100%;
    padding: 0;
    margin: 0;
    border:none;
    outline: none;
    cursor: pointer;
    font-size: 100%;
}
.btnNavV:hover{
    background-color: #403d34;
    color: #ffc700;
    transition: 0.7s;
}


@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

/****************************** FIM NAVBAR VERTICAL ******************************/

/* RESPONSIVIDADE NAVBAR */
@media (max-width: 1122px){        
    label[for='menuzin']{
        display: block;
    }
}

#menuzin:checked ~ .divNavV{
	display: block;
}

#menuzin:checked ~ label[for='menuzin']{
    background-color: black;
    color: #ffc700;
}

@media (min-width: 901px){
    #menuzin:checked ~ .divNavV{
        display: none;
    }    
}