body {
  margin: 0;
  background-color: #364156;
}
 
/* NAV-BAR */

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #011638;
}

ul.topnav li {
  float: right;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1.1vw 3vh;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

@media screen and (max-width: 1200px) {
  div.listaAluno label.listaAluno1
  .labelAluno1 {float: none;};
} 

/* NAV-BAR */

/* .grafico-inteiro{
  height: 79vh;
  width: 77vw;
  margin-left: 10vw;
  border: 0.1px solid;
  border-color: black;
  background-color: white;
} */


.divHR {
  width: 77vw;
  margin-left: 10vw;
}

#myChart{
  height: 100%;
  color: white; 
  background-color: white;
}

.listaAluno{
  overflow: auto; 
  flex-direction: column;
  position: absolute;
  display: flex;
  max-height: 44%;
  width: 78%;
  margin-left: 0.1%;
  margin-bottom: 0.1%;
  }

.labelAluno1{
  padding: 0.7vw;
  margin: 0.3vh 0;
  color: white;
  width: 100%; 
  background: #35383D;
  margin-left: -2%;
}

.labelDireita {

  float: right;
  margin-right: 2%;

}


.containerListaAluno {

  background-color: rgba(255, 255, 255, 0.18);
  display: flex;
  max-height: 30%;
  height: 44vh;
  width: 77vw;
  margin-left: 10%;
  margin-top: 1vw;
  margin-bottom: 3vh;

}



/* Fim gráfico */