footer{
    float: left;
    width:100%; 
    height: auto;
    background-color: black;
    border-top: solid 3px #ffc700;
    text-align: center;
}

footer u{
    color: #ffc700;
}

.localizacaoContato{
    width: 100%;
    height:25vh;
    color: #ffc700;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size:medium;
}
.direitos{
    position: relative;
    bottom: 0;
    background-color: black;
    border: 1px solid #ffc700;
    color: #ffc700;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size:large;
    opacity: .8;    
}
.mapaGoogle{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    padding: 0;
    border:1px solid #ffc700;
    width: 100%;
    height:320px;
}
.paragrafo{
    padding: 16px;
    height: 85px;
    width: 250px;
    color: #ffc700;
    border: 1px solid #ffc700;
}

.floatEsquerda{
    float: left;
}
.floatDireita{
    float: right;
}

.divRights{
    background-color: black; 
    width: 40%
}

@media (max-width: 600px){
    .floatEsquerda{
        float: none;
    }
    .floatDireita{
        float: none;
    }
    .paragrafo{
        width: auto;
        height: auto;
    }
}