.divContainerFooter:after,
.divContainerFooter:before{
    content: "";
    display: table;
    clear: both
}
.jpb-margin-great {
    margin: 9vw!important
}
.jpb-margin-top {
    margin-top: 16px!important
}
.jpb-margin-top2 {
    margin-top: 7vh!important
}
.jpb-no-margin-bottom {
    margin-bottom: 0!important
}
.jpb-center {
    text-align: center!important
}
.divQuadro {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33333%;
}
.jpb-text-black,
.jpb-hover-text-black:hover {
    color: #000!important
}
.alinhamentoLeft{
    text-align: left;
    margin-bottom: 0;
}
.alinhamentoRight{
    text-align: right;
    margin-bottom: 0;
}
.no-padgin{
    padding: 0;
    margin: 0;
}
.jpb-padding-16 {
    padding-top: 16px!important;
    padding-bottom: 16px!important
}
.jpb-margin-top2 {
    margin-top: 7vh!important
}
.jpb-xlarge {
    font-size: 24px!important
}
.jpb-opacity,
.jpb-hover-opacity:hover {
    opacity: 0.60
}
@media (max-width:937px) {
    .divQuadro {
        margin: 0 0 16px 0;
        padding: 8px 0 8px 0;
        width: 100%
    }
    .alinhamentoLeft{
        text-align: center;
    }
    .alinhamentoRight{
        text-align: center;
    }
}

/* font-awesome */
.fa {
    display: inline-block;
    font: normal normal normal 14/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.fa-2x {
    font-size: 2em
}
.fa-facebook-square:before {
    content: "\f082"
}
.fa-facebook-f:before,
.fa-facebook:before {
    content: "\f09a"
}
.fa-facebook-official:before {
    content: "\f230"
}
.fa-youtube-square:before {
    content: "\f166"
}
.fa-youtube:before {
    content: "\f167"
}
.fa-youtube-play:before {
    content: "\f16a"
}

