/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 0 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-0-px{
    margin:0px;
}
.margin-top-0-px{
    margin-top:0px;
}
.margin-right-0-px{
    margin-right:0px;
}
.margin-bottom-0-px{
    margin-bottom:0px;
}
.margin-left-0-px{
    margin-left:0px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 4 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-4-px{
    margin:4px;
}
.margin-top-4-px{
    margin-top:4px;
}
.margin-right-4-px{
    margin-right:4px;
}
.margin-bottom-4-px{
    margin-bottom:4px;
}
.margin-left-4-px{
    margin-left:4px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 8 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-8-px{
    margin:8px;
}
.margin-top-8-px{
    margin-top:8px;
}
.margin-right-8-px{
    margin-right:8px;
}
.margin-bottom-8-px{
    margin-bottom:8px;
}
.margin-left-8-px{
    margin-left:8px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 12 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-12-px{
    margin:12px;
}
.margin-top-12-px{
    margin-top:12px;
}
.margin-right-12-px{
    margin-right:12px;
}
.margin-bottom-12-px{
    margin-bottom:12px;
}
.margin-left-12-px{
    margin-left:12px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 16 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-16-px{
    margin:16px;
}
.margin-top-16-px{
    margin-top:16px;
}
.margin-right-16-px{
    margin-right:16px;
}
.margin-bottom-16-px{
    margin-bottom:16px;
}
.margin-left-16-px{
    margin-left:16px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 20 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-20-px{
    margin:20px;
}
.margin-top-20-px{
    margin-top:20px;
}
.margin-right-20-px{
    margin-right:20px;
}
.margin-bottom-20-px{
    margin-bottom:20px;
}
.margin-left-20-px{
    margin-left:20px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 24 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-24-px{
    margin:24px;
}
.margin-top-24-px{
    margin-top:24px;
}
.margin-right-24-px{
    margin-right:24px;
}
.margin-bottom-24-px{
    margin-bottom:24px;
}
.margin-left-24-px{
    margin-left:24px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 28 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-28-px{
    margin:28px;
}
.margin-top-28-px{
    margin-top:28px;
}
.margin-right-28-px{
    margin-right:28px;
}
.margin-bottom-28-px{
    margin-bottom:28px;
}
.margin-left-28-px{
    margin-left:28px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 32 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-32-px{
    margin:32px;
}
.margin-top-32-px{
    margin-top:32px;
}
.margin-right-32-px{
    margin-right:32px;
}
.margin-bottom-32-px{
    margin-bottom:32px;
}
.margin-left-32-px{
    margin-left:32px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 36 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-36-px{
    margin:36px;
}
.margin-top-36-px{
    margin-top:36px;
}
.margin-right-36-px{
    margin-right:36px;
}
.margin-bottom-36-px{
    margin-bottom:36px;
}
.margin-left-36-px{
    margin-left:36px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 40 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-40-px{
    margin:40px;
}
.margin-top-40-px{
    margin-top:40px;
}
.margin-right-40-px{
    margin-right:40px;
}
.margin-bottom-40-px{
    margin-bottom:40px;
}
.margin-left-40-px{
    margin-left:40px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 44 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-44-px{
    margin:44px;
}
.margin-top-44-px{
    margin-top:44px;
}
.margin-right-44-px{
    margin-right:44px;
}
.margin-bottom-44-px{
    margin-bottom:44px;
}
.margin-left-44-px{
    margin-left:44px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 48 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-48-px{
    margin:48px;
}
.margin-top-48-px{
    margin-top:48px;
}
.margin-right-48-px{
    margin-right:48px;
}
.margin-bottom-48-px{
    margin-bottom:48px;
}
.margin-left-48-px{
    margin-left:48px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 52 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-52-px{
    margin:52px;
}
.margin-top-52-px{
    margin-top:52px;
}
.margin-right-52-px{
    margin-right:52px;
}
.margin-bottom-52-px{
    margin-bottom:52px;
}
.margin-left-52-px{
    margin-left:52px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 56 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-56-px{
    margin:56px;
}
.margin-top-56-px{
    margin-top:56px;
}
.margin-right-56-px{
    margin-right:56px;
}
.margin-bottom-56-px{
    margin-bottom:56px;
}
.margin-left-56-px{
    margin-left:56px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 60 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-60-px{
    margin:60px;
}
.margin-top-60-px{
    margin-top:60px;
}
.margin-right-60-px{
    margin-right:60px;
}
.margin-bottom-60-px{
    margin-bottom:60px;
}
.margin-left-60-px{
    margin-left:60px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 64 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-64-px{
    margin:64px;
}
.margin-top-64-px{
    margin-top:64px;
}
.margin-right-64-px{
    margin-right:64px;
}
.margin-bottom-64-px{
    margin-bottom:64px;
}
.margin-left-64-px{
    margin-left:64px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 68 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-68-px{
    margin:68px;
}
.margin-top-68-px{
    margin-top:68px;
}
.margin-right-68-px{
    margin-right:68px;
}
.margin-bottom-68-px{
    margin-bottom:68px;
}
.margin-left-68-px{
    margin-left:68px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 72 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-72-px{
    margin:72px;
}
.margin-top-72-px{
    margin-top:72px;
}
.margin-right-72-px{
    margin-right:72px;
}
.margin-bottom-72-px{
    margin-bottom:72px;
}
.margin-left-72-px{
    margin-left:72px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 76 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-76-px{
    margin:76px;
}
.margin-top-76-px{
    margin-top:76px;
}
.margin-right-76-px{
    margin-right:76px;
}
.margin-bottom-76-px{
    margin-bottom:76px;
}
.margin-left-76-px{
    margin-left:76px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 80 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-80-px{
    margin:80px;
}
.margin-top-80-px{
    margin-top:80px;
}
.margin-right-80-px{
    margin-right:80px;
}
.margin-bottom-80-px{
    margin-bottom:80px;
}
.margin-left-80-px{
    margin-left:80px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 84 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-84-px{
    margin:84px;
}
.margin-top-84-px{
    margin-top:84px;
}
.margin-right-84-px{
    margin-right:84px;
}
.margin-bottom-84-px{
    margin-bottom:84px;
}
.margin-left-84-px{
    margin-left:84px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 88 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-88-px{
    margin:88px;
}
.margin-top-88-px{
    margin-top:88px;
}
.margin-right-88-px{
    margin-right:88px;
}
.margin-bottom-88-px{
    margin-bottom:88px;
}
.margin-left-88-px{
    margin-left:88px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 92 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-92-px{
    margin:92px;
}
.margin-top-92-px{
    margin-top:92px;
}
.margin-right-92-px{
    margin-right:92px;
}
.margin-bottom-92-px{
    margin-bottom:92px;
}
.margin-left-92-px{
    margin-left:92px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 96 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-96-px{
    margin:96px;
}
.margin-top-96-px{
    margin-top:96px;
}
.margin-right-96-px{
    margin-right:96px;
}
.margin-bottom-96-px{
    margin-bottom:96px;
}
.margin-left-96-px{
    margin-left:96px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 100 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-100-px{
    margin:100px;
}
.margin-top-100-px{
    margin-top:100px;
}
.margin-right-100-px{
    margin-right:100px;
}
.margin-bottom-100-px{
    margin-bottom:100px;
}
.margin-left-100-px{
    margin-left:100px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 104 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-104-px{
    margin:104px;
}
.margin-top-104-px{
    margin-top:104px;
}
.margin-right-104-px{
    margin-right:104px;
}
.margin-bottom-104-px{
    margin-bottom:104px;
}
.margin-left-104-px{
    margin-left:104px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 108 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-108-px{
    margin:108px;
}
.margin-top-108-px{
    margin-top:108px;
}
.margin-right-108-px{
    margin-right:108px;
}
.margin-bottom-108-px{
    margin-bottom:108px;
}
.margin-left-108-px{
    margin-left:108px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 112 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-112-px{
    margin:112px;
}
.margin-top-112-px{
    margin-top:112px;
}
.margin-right-112-px{
    margin-right:112px;
}
.margin-bottom-112-px{
    margin-bottom:112px;
}
.margin-left-112-px{
    margin-left:112px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 116 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-116-px{
    margin:116px;
}
.margin-top-116-px{
    margin-top:116px;
}
.margin-right-116-px{
    margin-right:116px;
}
.margin-bottom-116-px{
    margin-bottom:116px;
}
.margin-left-116-px{
    margin-left:116px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 120 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-120-px{
    margin:120px;
}
.margin-top-120-px{
    margin-top:120px;
}
.margin-right-120-px{
    margin-right:120px;
}
.margin-bottom-120-px{
    margin-bottom:120px;
}
.margin-left-120-px{
    margin-left:120px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 124 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-124-px{
    margin:124px;
}
.margin-top-124-px{
    margin-top:124px;
}
.margin-right-124-px{
    margin-right:124px;
}
.margin-bottom-124-px{
    margin-bottom:124px;
}
.margin-left-124-px{
    margin-left:124px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 128 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-128-px{
    margin:128px;
}
.margin-top-128-px{
    margin-top:128px;
}
.margin-right-128-px{
    margin-right:128px;
}
.margin-bottom-128-px{
    margin-bottom:128px;
}
.margin-left-128-px{
    margin-left:128px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 132 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-132-px{
    margin:132px;
}
.margin-top-132-px{
    margin-top:132px;
}
.margin-right-132-px{
    margin-right:132px;
}
.margin-bottom-132-px{
    margin-bottom:132px;
}
.margin-left-132-px{
    margin-left:132px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 136 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-136-px{
    margin:136px;
}
.margin-top-136-px{
    margin-top:136px;
}
.margin-right-136-px{
    margin-right:136px;
}
.margin-bottom-136-px{
    margin-bottom:136px;
}
.margin-left-136-px{
    margin-left:136px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 140 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-140-px{
    margin:140px;
}
.margin-top-140-px{
    margin-top:140px;
}
.margin-right-140-px{
    margin-right:140px;
}
.margin-bottom-140-px{
    margin-bottom:140px;
}
.margin-left-140-px{
    margin-left:140px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 144 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-144-px{
    margin:144px;
}
.margin-top-144-px{
    margin-top:144px;
}
.margin-right-144-px{
    margin-right:144px;
}
.margin-bottom-144-px{
    margin-bottom:144px;
}
.margin-left-144-px{
    margin-left:144px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 148 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-148-px{
    margin:148px;
}
.margin-top-148-px{
    margin-top:148px;
}
.margin-right-148-px{
    margin-right:148px;
}
.margin-bottom-148-px{
    margin-bottom:148px;
}
.margin-left-148-px{
    margin-left:148px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 152 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-152-px{
    margin:152px;
}
.margin-top-152-px{
    margin-top:152px;
}
.margin-right-152-px{
    margin-right:152px;
}
.margin-bottom-152-px{
    margin-bottom:152px;
}
.margin-left-152-px{
    margin-left:152px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 156 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-156-px{
    margin:156px;
}
.margin-top-156-px{
    margin-top:156px;
}
.margin-right-156-px{
    margin-right:156px;
}
.margin-bottom-156-px{
    margin-bottom:156px;
}
.margin-left-156-px{
    margin-left:156px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 160 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-160-px{
    margin:160px;
}
.margin-top-160-px{
    margin-top:160px;
}
.margin-right-160-px{
    margin-right:160px;
}
.margin-bottom-160-px{
    margin-bottom:160px;
}
.margin-left-160-px{
    margin-left:160px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 164 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-164-px{
    margin:164px;
}
.margin-top-164-px{
    margin-top:164px;
}
.margin-right-164-px{
    margin-right:164px;
}
.margin-bottom-164-px{
    margin-bottom:164px;
}
.margin-left-164-px{
    margin-left:164px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 168 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-168-px{
    margin:168px;
}
.margin-top-168-px{
    margin-top:168px;
}
.margin-right-168-px{
    margin-right:168px;
}
.margin-bottom-168-px{
    margin-bottom:168px;
}
.margin-left-168-px{
    margin-left:168px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 172 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-172-px{
    margin:172px;
}
.margin-top-172-px{
    margin-top:172px;
}
.margin-right-172-px{
    margin-right:172px;
}
.margin-bottom-172-px{
    margin-bottom:172px;
}
.margin-left-172-px{
    margin-left:172px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 176 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-176-px{
    margin:176px;
}
.margin-top-176-px{
    margin-top:176px;
}
.margin-right-176-px{
    margin-right:176px;
}
.margin-bottom-176-px{
    margin-bottom:176px;
}
.margin-left-176-px{
    margin-left:176px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 180 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-180-px{
    margin:180px;
}
.margin-top-180-px{
    margin-top:180px;
}
.margin-right-180-px{
    margin-right:180px;
}
.margin-bottom-180-px{
    margin-bottom:180px;
}
.margin-left-180-px{
    margin-left:180px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 184 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-184-px{
    margin:184px;
}
.margin-top-184-px{
    margin-top:184px;
}
.margin-right-184-px{
    margin-right:184px;
}
.margin-bottom-184-px{
    margin-bottom:184px;
}
.margin-left-184-px{
    margin-left:184px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 188 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-188-px{
    margin:188px;
}
.margin-top-188-px{
    margin-top:188px;
}
.margin-right-188-px{
    margin-right:188px;
}
.margin-bottom-188-px{
    margin-bottom:188px;
}
.margin-left-188-px{
    margin-left:188px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 192 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-192-px{
    margin:192px;
}
.margin-top-192-px{
    margin-top:192px;
}
.margin-right-192-px{
    margin-right:192px;
}
.margin-bottom-192-px{
    margin-bottom:192px;
}
.margin-left-192-px{
    margin-left:192px;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    MARGIN 196 PX
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
.margin-196-px{
    margin:196px;
}
.margin-top-196-px{
    margin-top:196px;
}
.margin-right-196-px{
    margin-right:196px;
}
.margin-bottom-196-px{
    margin-bottom:196px;
}
.margin-left-196-px{
    margin-left:196px;
}
