*{
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body{
    background-color: #abb7cf;
}

.divHeader{
    display: flex;
    flex-direction: row;
    background-color: #011638;
}

.divLogo{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.divLogo img{
    margin: 5vh 2vw 5vh 4vw;
}

.divConteudo{
    color: white;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.divNavTopo{
    display: flex;
}

.divNavTopo ul{ 
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
    font-weight: bolder;
}

.divNavTopo li{
    box-sizing: border-box;
    width: 200px;
    text-align: center;
    margin: 0;
    padding: 27px 0px 27px 0px;
    cursor: pointer;
    font-size: 25px;
}
.divNavTopo li:first-child{
    margin-right: 3vw;
}

.divNavTopo li:hover{
    background-color: #d0d4e0;
    color: #011638;
    transition: 0.5s;
}

.divSeilaTeste{
    font-size: 25px;
    height: 10vh;
    z-index: 9999;
}

.divDropdown{
    display: none;
    background-color: #d0d4e0;
    float: right; 
    margin: 0;
    padding: 0;
    margin-right: 3vw;
}
.divDropdown ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: right;
    flex-direction: column;
    font-weight: normal;
}
.divDropdown li{
    color: #011638;
    font-weight: bolder;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 2vh 2vw 2vh 2vw;
    cursor: pointer;
    border-bottom: 1px solid #011638;
}
.divDropdown li:first-child{
    border-top: 1px solid #011638;
}
.divDropdown li:hover{
    background-color: #0585EA;
    color: white;
    transition: 0.5s;
}


/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    NAVBAR FIXA 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

.divNavBarContainer{
    background-color: #011638;
    color: white;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 5px 0.5px white;
}
.divNavBarContainer ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
    font-weight: bolder;
}
.divNavBarContainer li{
    /* background-color: red; */
    box-sizing: border-box;
    width: 192px;
    text-align: center;
    margin: 0;
    padding: 27px 0px 27px 0px;
    cursor: pointer;
    font-size: 25px;
}
.divNavBarContainer li:first-child{
    margin-right: 3vw;
}
.divNavBarContainer li:hover{
    background-color: #d0d4e0;
    color: #011638;
    transition: 0.5s;
}
.divNavBarContainer .liLogoBar{
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    padding-top: 8px;
    margin: 0;
    width: 100px;
}
.divNavBarContainer .liLogoBar:hover{
    background-color: #011638;
}
.divNavBarContainer img{
    height: 70px;
    padding: 0;
    margin:0;
}
.divSeilaTeste2{
    background-color: white;
    font-size: 125%;
    height: 0;
    z-index: 9999;
}

.divDropdownBar{
    display: none;
    background-color: #d0d4e0;
    float: right; 
    margin: 0;
    padding: 0;
    margin-right: 3vw;
}
.divDropdownBar ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: right;
    flex-direction: column;
    font-size: 75%;
    font-weight: normal;
}
.divDropdownBar li{
    color: #011638;
    font-weight: bolder;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 2vh 2vw 2vh 2vw;
    cursor: pointer;
    border-bottom: 1px solid #011638;
}
.divDropdownBar li:first-child{
    border-top: 1px solid #011638;
}
.divDropdownBar li:hover{
    background-color: #0585EA;
    color: white;
    transition: 0.5s;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                            DIVACESSO (BOTÃO ACESSAR E LINK CADASTRAR)
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

.divAcesso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divAcesso span{
    font-size: 75%;
}
.divAcesso button{
    color: white;
    padding: 5vh 5vw 5vh 5vw;
    background-color: #0585EA; 
    border: 1px solid white;
    font-weight: bolder;
    font-size: 100%;
    min-width: 161px;
    border-radius: 10vh;
    outline: none;
    cursor: pointer;
}
.blueHover:hover{
    background-color: #62bbff; 
    border: 1px solid #c4c4c4;
}
.divAcesso .cadastrar{
    color: white;
    padding: 0;
    background-color: inherit; 
    border: none;
    outline: none;
    cursor: pointer;
    border-bottom: 1px solid #011638;
    margin-bottom: 40px;
}
.divAcesso .cadastrar:hover{
    border-color: white;
    border-radius: 0;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                CORPO DO SITE (CONTAINER)
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/
.divImagemRede{
    padding: 0;
    margin: 0;
    background-color: #011638;
    width: 100%;
}
.divImagemRede img{
    padding: 0;
    margin: 0;
    width: 100%;
}
.divContainer{
    display: flex;
    flex-direction: column;
    background-color: #4c638a;
    width: 100%;
    height: 100%;
}
.divSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    min-height: 60vh;
}
.reverse{
    flex-direction: row-reverse;
}
.divImagem{
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.divImagem img{
    padding: 32px;
    height: 100%;
    width: 50%;
}
.divTexto{
    background-color: #ffffff;
    text-align: center;
    font-size: 150%;
    width: 50%;
    height: 100%;
}
.divTexto h3{
    padding: 64px 0 0 0;
    font-size: 200%;
}
.divTexto p{
    padding: 32px 64px 64px 64px;
}
.divProduto{
    width: 100%;
    height: 100%;
}
.divEquipe{
    background-color: #0585EA;
    text-align: center;
    font-size: 250%;
    width: 100%;
    height: 100%;
}
.divEquipe h3{
    padding: 64px 0 0 0;
}
.divFotinhos{
    padding: 64px;
}
.divFotinhos img{
    padding: 0 16px 16px ss16px;
    height: 140px;
}

.divMapa{
    background-color: #FFF;
    width: 100%;
    height: 100%;
}
.divSectionContato{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    min-height: 20vh;
}
.divContato{
    background-color: #abb7cf;
    text-align: center;
    font-size: 250%;
    width: 100%;
    height: 100%;
}
.divContato h3{
    padding: 64px 0 0 0;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                MEDIA E ANIMAÇÕES
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/
@media screen and (max-width: 1122px){
    .divHeader{
        flex-direction: column;
    }
    .divLogo{
        width: 100%;
    }
    .divLogo img{
        margin: 5vh 4vw 5vh 4vw;        
        width: 100%;
    }
    .divConteudo{
        width:100%;
    }
    .divNavTopo ul{
        justify-content: center;
    }
    .divNavTopo li:first-child{
        margin-right: 0;
    }
    .divDropdown{
        margin-right: 0;
    }
}
@media screen and (max-width: 800px){
    .divNavBarContainer li:first-child{
        margin-right: 0;
    }
    .divDropdownBar{
        margin-right: 0;
    }
    .divImagemRede img{
        width: 100%;
        height: 100%;
    }
    .divSection{
        flex-direction: column;
    }
    
    .divImagem{
        height: 100%;
        width: 100%;
    }
    .divImagem img{
        width: 15%;
    }
    .divTexto{
        width: 100%;
    }
    .heightAuto{
        height: 100%;
    }
}

.girarElemento{
    animation: girar infinite linear 2s
}
@keyframes girar{
    0%{
        transform:rotate(0deg)
    }
    25%{
        transform:rotate(15deg)
    }
    50%{
        transform:rotate(0deg)
    }
    75%{
        transform:rotate(-15deg);
    }
    100%{
        transform:rotate(0deg)
    }
}

.aparecer{
    animation: aparecer 0.5s
}
@keyframes aparecer{
    0%{
        opacity:0
    }
    100%{
        opacity:1
    }
}